body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;

}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.header-top {
  margin: 12px 240px 64px 240px;
}

.header-bot {
  margin: 12px 380px 64px 380px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  align-self: center;
  font-size: 24px;
  color: #F9FAF8;
}

.header ul {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
}

.header-bot {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.header-bot-left,
.header-bot-right {
  flex: 1;
}

.header-bot-left {
  display: flex;
  flex-direction: column;
}

.header-bot-left h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.header-bot-left p {
  font-size: 18px;
  color: #E5E7EB;
}

.header-bot-left button {
  border: 0;
  padding: 0;
  border-radius: 24px;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bolder;
  font-size: 1em;
  height: 2.5em;
  width: 8em;
  margin-top: auto;
}

.header-bot-right img {
  width: 100%;
  height: 250px;
}

.center-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 160px 140px 160px;
}

.center-second h2 {
  font-size: 32px;
  font-weight: bolder;
  color: #1F2937;
  margin: 25px;
}

.card {
  display: flex;
  padding: 130px;
  border: 4px solid #3882F6;
  border-radius: 28px;
}


.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 25px;
}

.text {
  text-align: center;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.center-quote {
  background-color: #E5E7EB;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

.center-last {
  display: flex;
  justify-content: center;
  margin: 128px;
}

.center-container {
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
  border-radius: 28px;
  width: 1000px;
}

.center-last-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 64px;
  gap: 12px;
}

.center-last-content-left h3 {
  font-size: 36px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.center-last-content-left p {
  font-size: 18px;
  color: #F9FAF8;
  margin: 0;
}

.info-button {
  padding: 24px 64px;
  align-self: center;
}

.info-button button {
  border: 0;
  background-color: #E5E7EB;
  font-weight: bolder;
  font-size: 1em;
  height: 2.5em;
  width: 8em;
  border-radius: 24px;
}

.info-button a {
  color: #3882F6;
  font-weight: bolder;
  font-size: 1em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  height: 80px;
}

.footer p {
  color: #E5E7EB;
  font-size: 18px;
}

